/*CSS DOCUMENT*/

body {
    background-image: linear-gradient(150.64deg, #FF9D30 12.71%, #30C5FF 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

h1 {
    font-family: zen-new, sans-serif;
    font-weight: 600;
    font-style: italic;
    color: white;
    text-align: center;
}

input {
    border: solid 1px #b6b6b6;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    background-color: white;
    font-size: 16px;
    text-indent:12px;
    text-align: left;
}

::placeholder {
    font-size: 12px;
    text-align: center;
    margin-right: 3px
    font-family: zen-new, sans-serif;
    font-weight: 200;
    font-style: normal;;
}

.icon {
    background-color: white !important;
    width: 20px;
    height: 20px;
    position:absolute;
    align-content: center;
    margin: 4px 0px 0px 4px;
    z-index: 1;
    border-radius: 4px;
}
.inputIcon {
    position: relative;
}

.search {
    width: 135%;
    height:30%;
    align-content: center;
    margin: 0px 0px 10px 5.4%;
}


.infoCard {
    background-color: white;
    width: 90%;
    border-radius: 8px;
    align-content: center;
    margin: auto;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.companyName {
    text-align: left;
    font-size: 36px;
    padding: 15px 0px 0px 15px;
    font-weight:bold;
}

.nyse {
    text-align: right;
    margin-top: -20px;
    padding: 0px 15px 0px 0px;
    font-family: zen-new, sans-serif;
    font-weight: 400;
    font-style: italic;
}

.sentiment {
    left-align:left;
}

.sentimentResult {
    margin-left: .5em;
    text-align: center;
}

.sentimentTotal {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-areas: '. sentiment .';
}

.sentimentGrid {
    grid-area: sentiment;
    display:flex;
    height:40px;
}

.acc {
    display: flex;
    text-align: left;
}

.accResult {
    display:inline-block;
    text-align: center;
    align-items: center;
    margin-left: .5em;
}

.accTotal {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-areas: '. sentiment .';
}

.accGrid {
    grid-area: sentiment;
    display:flex;
}

p {
    font-size: 26px;
}